.image{
    position: relative;
    z-index: 1001;
    overflow: hidden !important;
}
.updt_img{
    width : 300px;
    height: 200px;
    position: absolute;
    bottom:600px;
    left: 500px;
    z-index: 1002;
}
/* .mybtn{
    margin-top: 400px;
} */